# This is used by Docker Compose to set up prefix names for Docker images,
# containers, volumes and networks. This ensures that everything is named
# consistently regardless of your folder structure.
# COMPOSE_PROJECT_NAME=tbauth

# You would typically use `rails secret` to generate a secure token. It is
# critical that you keep this value private in production.
SECRET_KEY_BASE=

# Sorcery facebook credentials
FACEBOOK_KEY=
FACEBOOK_SECRET=
FACEBOOK_CALLBACK= # http://yourhost/oauth/callback?provider=facebook

