# This is used by Docker Compose to set up prefix names for Docker images,
# containers, volumes and networks. This ensures that everything is named
# consistently regardless of your folder structure.
# COMPOSE_PROJECT_NAME=tbclient

# You would typically use `rails secret` to generate a secure token. It is
# critical that you keep this value private in production.
SECRET_KEY_BASE=

# Password must be equal as in compose file
REDIS_URL=redis://:p4ssw0rd@redis

# You should have running auth app on this URL
AUTH_URL= # http://yourauthhost

