# This is used by Docker Compose to set up prefix names for Docker images,
# containers, volumes and networks. This ensures that everything is named
# consistently regardless of your folder structure.
COMPOSE_PROJECT_NAME=tb

# Database settings
# For database container:
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
# For client Rails apps
DATABASE_URL=postgres://db_user:db_password@database/db_development

