# This is used by Docker Compose to set up prefix names for Docker images,
# containers, volumes and networks. This ensures that everything is named
# consistently regardless of your folder structure.
COMPOSE_PROJECT_NAME=tb

# Database settings
# For database container:
POSTGRES_USER=db_user
POSTGRES_PASSWORD=db_password
# For client Rails apps
DATABASE_URL=postgres://db_user:db_password@database/db_prod

# What Rails environment are we in?
RAILS_ENV=production

# Rails log level.
#   Accepted values: debug, info, warn, error, fatal, or unknown
LOG_LEVEL=info

# More details about these Puma variables can be found in config/puma.rb.
# Which address should the Puma app server bind to?
BIND_ON=0.0.0.0:9000

# Puma supports multiple threads but in development mode you'll want to use 1
# thread to ensure that you can properly debug your application.
RAILS_MAX_THREADS=2
WEB_CONCURRENCY=2
REQUEST_TIMEOUT=5


